nav  a.navbar-brand {
    font-style: normal !important;
    font-size: 30px;
    color: #d21c14 !important;
}
nav  a.navbar-brand:hover {
    color: #f5fbfc !important;
}
.container .page-header {
    margin-top:150px;
}

.container .row .bulls-team img{
    margin-bottom:20px;
    margin-top:20px;

}
.container .row .bulls-team h1{
    margin-bottom:50px;
}

.container .row .bulls-team img.ofc {
    opacity: 0.5;
}

.container .row .bulls-team img.ofc:hover {
    opacity: 1;
}
.col-lg-12 form div.email-div {
    margin-left:-40px;
}
div.row footer {
    margin-top:50px;

}
