{% extends 'shablon.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-lg-12  text-center">
        <h1>Test form</h1>
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}

            </ul>
        {% endif %}

        <form action="" method="post" role="form">
            <div class="form-group">
                <label for="text">Name</label>
                <label>
                    <input type="text" name="name" value="{{ form.name }}">
                </label>
            </div>
            <div class="form-group email-div">
                <label for="text">Email address:</label>
                <label>
                    <input class="form-control" name="email" type="text" value="{{ form.email }}">
                </label>
            </div>
            <div class="form-group">
                <label for="text">Message</label>
                <label for=""></label><textarea name="message" id="" cols="30" rows="10">{{ form.message }}</textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            {% csrf_token %}
        </form>
        <div class="row">
            <div class="col-lg-12">
                <!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <!-- Основная часть модального окна, содержащая форму для регистрации -->
      <div class="modal-body">
        <!-- Форма для регистрации -->
  	<form role="form" class="form-horizontal">
	  <!-- Блок для ввода логина -->
	  <div class="form-group has-feedback">
	    <label for="login" class="control-label col-xs-3">Логин:</label>
	    <div class="col-xs-6">
	      <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <label>
                  <input type="text" class="form-control" required="required" name="login" pattern="[A-Za-z]{6,}">
              </label>
          </div>
	      <span class="glyphicon form-control-feedback"></span>
	    </div>
	  </div>
	  <!-- Блок для ввода email -->
	  <div class="form-group has-feedback">
	    <label for="email" class="control-label col-xs-3">Email:</label>
	    <div class="col-xs-6">
	      <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <label>
                  <input type="email" class="form-control" required="required" name="email">
              </label>
          </div>
	      <span class="glyphicon form-control-feedback"></span>
	    </div>
	  </div>
          <!-- Конец блока для ввода email-->
        </form>
      </div>
      <!-- Нижняя часть модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary">Регистрация</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-success hidden" id="success-alert">
    <h2>Успех</h2>
    <div>Ваши данные были успешно отправлены.</div>
  </div>
  <!-- Кнопка для открытия модального окна -->
  <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal">
    Регистрация
  </button>
</div>

<!-- Подлючаем библиотеку jQuery -->
<!-- <script src="/assets/demo/jquery/jquery-1.11.2.min.js"></script> -->
<!-- Подлючаем js файл Bootstrap -->
<!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->

<script>
  $(function() {
    //при нажатии на кнопку с id="save"
    $('#save').click(function() {
      //переменная formValid
      var formValid = true;
      //перебрать все элементы управления input
      $('input').each(function() {
      //найти предков, которые имеют класс .form-group, для установления success/error
      var formGroup = $(this).parents('.form-group');
      //найти glyphicon, который предназначен для показа иконки успеха или ошибки
      var glyphicon = formGroup.find('.form-control-feedback');
      //для валидации данных используем HTML5 функцию checkValidity
      if (this.checkValidity()) {
        //добавить к formGroup класс .has-success, удалить has-error
        formGroup.addClass('has-success').removeClass('has-error');
        //добавить к glyphicon класс glyphicon-ok, удалить glyphicon-remove
        glyphicon.addClass('glyphicon-ok').removeClass('glyphicon-remove');
      } else {
        //добавить к formGroup класс .has-error, удалить .has-success
        formGroup.addClass('has-error').removeClass('has-success');
        //добавить к glyphicon класс glyphicon-remove, удалить glyphicon-ok
        glyphicon.addClass('glyphicon-remove').removeClass('glyphicon-ok');
        //отметить форму как невалидную
        formValid = false;
      }
    });
    //если форма валидна, то
    if (formValid) {
      //сркыть модальное окно
      $('#myModal').modal('hide');
      //отобразить сообщение об успехе
      $('#success-alert').removeClass('hidden');
    }
  });
});
</script>
<!--...-->
            </div>
        </div>
    </div>
{% endblock %}